@charset "UTF-8";
body {
  background: #eee;
  font-size: 14px;
  color: #000;
  position: relative; }

.swiper {
  width: 65%;
  height: 100%; }
  .swiper .swiper-slide {
    height: 24rem;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background: #fff; }
  .swiper .swiper-button-prev, .swiper .swiper-button-next {
    padding: 3rem 1rem;
    opacity: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s linear; }
  .swiper .swiper-button-next {
    right: 0; }
  .swiper .swiper-button-prev {
    left: 0; }
  .swiper:hover .swiper-button-prev, .swiper:hover .swiper-button-next {
    opacity: 1; }

.more_items {
  position: absolute;
  left: 1%;
  top: 4%;
  width: fit-content;
  display: flex;
  flex-direction: column; }
  .more_items .plus {
    position: relative; }
    .more_items .plus span {
      position: sticky;
      z-index: 2;
      background-color: #479ae2;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 300;
      cursor: pointer;
      transition: transform .25s linear; }
    .more_items .plus li {
      position: relative; }
      .more_items .plus li:after {
        content: '';
        position: absolute;
        left: .3rem;
        bottom: -1.6rem;
        width: 4rem;
        height: 2rem;
        background-color: transparent; }
    .more_items .plus:hover .i1 {
      transform: translateY(54px); }
      .more_items .plus:hover .i1:before {
        content: '';
        position: absolute;
        left: .3rem;
        top: -1.6rem;
        width: 4rem;
        height: 2rem;
        background-color: transparent; }
    .more_items .plus:hover .i2 {
      transform: translateY(109px); }
    .more_items .plus:hover .i3 {
      transform: translateY(163px); }
    .more_items .plus:hover .i4 {
      transform: translateY(217px); }
    .more_items .plus:hover span {
      transform: rotate(225deg); }
    .more_items .plus .item_plus {
      transition: transform .3s linear;
      z-index: 1;
      position: absolute;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      background-color: #fff;
      border-radius: 50%;
      top: 0;
      left: 0; }
      .more_items .plus .item_plus img, .more_items .plus .item_plus a {
        border-radius: inherit; }

.container_home {
  position: relative;
  padding: 0 2% 0 9%; }
  .container_home .slider_show {
    margin-top: 6rem;
    display: flex; }
    .container_home .slider_show .advertisment {
      display: flex;
      flex-direction: column;
      width: 35%;
      padding-left: .5rem; }
      .container_home .slider_show .advertisment .advertis1 {
        height: 12rem; }
  .container_home .generality_belongings {
    margin-top: 4rem;
    border-radius: 1rem;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap; }
    .container_home .generality_belongings .belonging {
      margin: 2.4rem 0 1.6rem;
      text-align: center;
      width: 25%;
      transition: all .15s linear; }
      .container_home .generality_belongings .belonging img {
        width: 5rem;
        height: 5rem; }
      .container_home .generality_belongings .belonging p {
        text-transform: capitalize; }
      .container_home .generality_belongings .belonging:nth-child(2) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .container_home .generality_belongings .belonging:nth-child(3) {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .container_home .generality_belongings .belonging:hover {
        margin-top: 2rem; }

.container_products {
  border-radius: .4rem;
  margin: 4% 2%; }
  .container_products ul {
    border-top: 1px solid #479ae2;
    position: sticky;
    border-radius: inherit;
    z-index: 3;
    top: 7.2rem;
    padding: 2rem 2rem;
    background-color: #fff; }
    .container_products ul li {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #479ae2;
      font-weight: 500; }
    .container_products ul::after {
      content: "";
      position: absolute;
      width: 18rem;
      height: .6rem;
      background-color: #479ae2;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: inherit; }
  .container_products .wrap_products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 10rem;
    justify-content: space-between; }
    .container_products .wrap_products .item {
      margin-top: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: .1rem;
      width: 19%;
      background-color: #fff;
      border-radius: .6rem; }
      .container_products .wrap_products .item .item_col {
        transform: translateY(-0.6rem);
        transition: transform .15s linear; }
        .container_products .wrap_products .item .item_col .item_img {
          flex: 1;
          transform: translateY(0.8rem); }
          .container_products .wrap_products .item .item_col .item_img img {
            border-radius: .6rem; }
        .container_products .wrap_products .item .item_col .inform_item {
          padding: .8rem;
          background-color: #fff; }
          .container_products .wrap_products .item .item_col .inform_item .description_item {
            margin-bottom: 1.6rem;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: normal;
            word-wrap: break-word;
            overflow: hidden; }
          .container_products .wrap_products .item .item_col .inform_item .price_item {
            font-size: 1.6rem;
            color: #479ae2; }
            .container_products .wrap_products .item .item_col .inform_item .price_item span {
              font-size: 1rem; }
          .container_products .wrap_products .item .item_col .inform_item .btn_click .btn {
            margin-top: 1rem;
            font-size: 1.2rem;
            text-transform: capitalize; }
          .container_products .wrap_products .item .item_col .inform_item .btn_click .add_cart {
            display: block; }
          .container_products .wrap_products .item .item_col .inform_item .btn_click .buy_item {
            display: none; }
      .container_products .wrap_products .item:hover .item_col {
        transform: translateY(-0.8rem); }
      .container_products .wrap_products .item:hover {
        background-color: #479ae2; }
        .container_products .wrap_products .item:hover::after {
          position: absolute;
          content: "Sản phẩm";
          width: 100%;
          height: 3rem;
          z-index: 1;
          background-color: #479ae2;
          bottom: -22px;
          text-align: center;
          line-height: 2;
          color: #fff;
          left: 0;
          right: 0; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pagination button {
    cursor: pointer;
    font-size: 2.6rem;
    margin: 0 2rem 10rem; }
    .pagination button.active {
      background-color: #479ae2;
      color: #fff;
      padding: .4rem 1.6rem;
      border-radius: .4rem; }
  .pagination .btnC {
    background-color: rgba(131, 131, 131, 0.5);
    color: #fff;
    padding: 1rem;
    border-radius: .4rem; }

@media (max-width: 48em) {
  .more_items {
    display: none; }
  .container_home {
    padding: 0 2%; }
    .container_home .slider_show {
      flex-wrap: wrap; }
      .container_home .slider_show .advertisment {
        width: 100%;
        padding-left: 0; }
  .swiper {
    width: 100%;
    margin-bottom: 1rem; }
  .container_products .wrap_products .item {
    width: 24.6%; }
    .container_products .wrap_products .item .item_col .inform_item .btn_click .buy_item {
      display: block; }
  .pagination button {
    font-size: 2rem;
    margin: 0 1rem 5rem; }
    .pagination button.active {
      background-color: #479ae2;
      color: #fff;
      padding: .4rem 1.2rem;
      border-radius: .4rem; } }

@media (max-width: 42.375em) {
  .container_products .wrap_products .item {
    width: 32%; } }

@media (max-width: 28.125em) {
  .container_home .generality_belongings .belonging {
    width: 50%; }
    .container_home .generality_belongings .belonging:nth-child(2) {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 0; }
  .container_products .wrap_products .item {
    width: 50%; } }
