<div class="pW">
    <div class="_mPf">
        <h1 class="_mPT">thay đổi mật khẩu</h1>
        <p class="_mPD">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
    </div>
    <div class="pWf">
        <form method='POST' action="/user/account/editPassword?_method=PUT" class ="form" id="form-1" autocomplete="off">
            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu cũ</label>
                <input id="password" name="oldPassword" type="password" placeholder="Nhập mật khẩu" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
            <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
            <input id="password_confirmation" placeholder="Nhập lại mật khẩu" type="password" class="form-control" name="password">
            <span class="form-message"></span>
            </div>

            <button class="form-submit">Đăng ký</button>
        </form>
    </div>
    <div class="profile_updated">
        <div class="container_updated">
            <div class="imgSuccess">
                <img src="https://uxwing.com/wp-content/themes/uxwing/download/48-checkmark-cross/success-green-check-mark.png" alt="">
            </div>
            <span>cập nhật hồ sơ</span>
        </div>
    </div>
</div>