<table>
    <tr class="title">
        <th>
            <input type="checkbox" class="checkAll" id="checkAll">
            <label for="checkAll">sản phẩm</label>
        </th>
        <th colspan="2">đơn giá</th>
        <th colspan="2">số lượng</th>
        <th colspan="2">số tiền</th>
        <th colspan="2">thao tác</th>
    </tr>
</table>