<table>
    <tr>
        <th>
            <input type="checkbox" class="checkAll" id="checkAll">
            <label for="checkAll">sản phẩm</label>
        </th>
        <th>đơn giá</th>
        <th>số lượng</th>
        <th>số tiền</th>
        <th>thao tác</th>
    </tr>
    <tr>
        <td class="item_bought"></td>
        <td class="item_price"></td>
        <td class="amount_items"></td>
        <td class="operation_delete"></td>
    </tr>
</table>