<section class="letter">
    <div class="letter_title">
        <div class="left"><i class="fas fa-arrow-left"></i></div>
        <h1>đặt lại mật khẩu</h1>
    </div>
    <div class="letter_image">
        <img src="http://cdn.onlinewebfonts.com/svg/img_523839.png" alt="">
    </div>
    <div class="letter_confirm">
        <p>Mã xác minh đã được gửi đến địa chỉ email</p>
        <p>{{buyer.email}}.</p>
        <p>Vui lòng xác minh.</p>
    </div>
    <button class="btn">OK</button>
</section>