<div class='login_success'>
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/48-checkmark-cross/success-green-check-mark.png" alt="">
    <h1>Bạn đã đăng ký thành công</h1>
    <a href="/login">Click để đăng nhập</a>
</div>