<div class="main">
    <form action="/home" method="POST" class="form" id="form-1" autocomplete="off">
      <h3 class="heading">Đăng nhập</h3>
      <p class="desc">Đăng nhập xem thêm sản phẩm ❤️</p>
  
      <div class="spacer"></div>
  
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
        <span class="form-message"></span>
      </div>
  
      <div class="form-group">
        <label for="password" class="form-label">Mật khẩu</label>
        <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
        <span class="form-message"></span>
      </div>
      <button class="form-submit">Đăng nhập</button>
      <div class="_fp">
          <a href="/buyer/forgot_password">Quên mật khẩu</a>
      </div>
      <div class="loginDifference">
        <div class="_oO">
            <div class="_oOl"></div><span>Hoặc</span><div class="_oOl"></div>
        </div>
        <div class="_lDs">
          <div class="bt_cl">
            <div class="_lDsm"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt=""></div>
            <a><span>Facebook</span></a>
          </div >
          <div class="bt_cl">
            <div class="_lDsm"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png" alt=""></div>
            <a><span>Google</span></a>
          </div >
        </div>
        <div class="_nP"><span>Bạn là người mới?</span><a href="/signup">Đăng ký</a></div>
      </div>
    </form>

</div>