<div class="infor_user">
    <div class="infor_first">
        <div>
            <a href="/user/account/profile">
                <img src="{{image}}" alt="">
            </a>
        </div>
        <div class="title">
            {{{handleTitle user1 user2}}}
            <a href="/user/account/profile"><i class="fas fa-pen"></i>Sửa hồ sơ</a>
        </div>
    </div>
    <div class="inform_second">
            <div class="inform_second__yourself">
                <p><i class="fas fa-user"></i>Tài khoản của tôi</p>
                <ul>
                    <li><a href="profile">hồ sơ</a></li>
                    <li><a href="password">đổi mật khẩu</a></li>
                </ul> 
            </div>                                       <div class="invoice"><i class="fas fa-clipboard-list"></i>đơn mua</div>                     
    </div>
</div>