<section class="footer">
    <div class="footer__inform">
        <div class="wrapperList_branch">
            <div class="wrapperList_branch__footer">
                <a href="#">
                    <img src="https://image.shutterstock.com/image-vector/initial-letter-nq-logo-simple-260nw-1967737729.jpg"
                        alt="" class="branch__img">
                </a>
                <h1 class="footer__title">ShopNQ</h1>
            </div>
            <ul class="footer_list">
                <li class="footer_item">Email: vungoc23387@gmail.com</li>
                <li class="footer_item">Địa chỉ: Bắc Ninh</li>
            </ul>
        </div>
        <div class="wrapperList_support">
            <h1>Hỗ Trợ</h1>
            <ul class="footer_container__list">
                <li class="item"><a href="/contact-us">Liên hệ</a></li>
            </ul>
        </div>
        <div class="wrapperList_support">
            <h1>Về Tôi</h1>
            <ul class="footer_container__list">
                <li class="item"><a href="https://www.facebook.com/profile.php?id=100009696701104">Giới thiệu</a></li>
            </ul>
        </div>
        <div class="wrapperList_branch">
            <h1>Đơn vị chủ quản</h1>
            <ul class="footer_list">
                <li class="footer_item">Người đại diện: Vũ Văn Ngọc</li>
            </ul>
        </div>
    </div>
    <div class="footer_social">
        <p>© 2022 WEB</p>
        <ul class="footer_container">
            <li class="footer_container__item">
                <a href="https://www.facebook.com/profile.php?id=100009696701104">
                    <img src="	https://www.logo.wine/a/logo/Facebook/Facebook-f_Logo-White-Dark-Background-Logo.wine.svg"
                        alt="">
                </a>
            </li>
            <li class="footer_container__item">
                <a href="https://www.facebook.com/profile.php?id=100009696701104">
                    <img src="https://seeklogo.com/images/Z/zalo-logo-B0A0B2B326-seeklogo.com.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>