<section class="header">
    <div class="branch">
        <a href="/">
            <img src="https://image.shutterstock.com/image-vector/initial-letter-nq-logo-simple-260nw-1967737729.jpg" alt="" class="branch__img">
        </a>
        <span class="header__title">ShopNQ</span>
    </div>
    <div class="inform">
        <div class="inform__log">
            <a href="/login" class="btn" >đăng nhập</a>
            <a href="/signup" class="btn" >đăng ký</a>
        </div>
    </div>
</section>

