<div class="more_items">
    <ul class="plus">
        <span>+</span>
        <li class="item_plus i1">
        <a href="/products/shoes"> <img src="https://thumbs.dreamstime.com/b/sneaker-shoes-icon-outline-style-vector-web-design-isolated-white-background-199563026.jpg" alt=""></a> 
        </li>
        <li class="item_plus i2">
        <a href="/products/shirts"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/men-long-sleeve-shirt-1870873-1593701.png" alt=""></a>
        </li>
        <li class="item_plus i3">
        <a href="/products/hats"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTGUEV_tlgqeJMiwkyMfnagLLdrRLW366uRQ&usqp=CAU" alt=""></a>
        </li>
        <li class="item_plus i4">
        <a href="/products/pants"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhFHA-NlrvgwGQ7twBJ2lc5YTol3AHs908Vg&usqp=CAU" alt=""></a>
        </li>
    </ul>
</div>
<div class="container_home">

    <div class="slider_show">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt=""></a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="advertisment">
            <div class="advertis1">
                <img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt="">
            </div>
            <div class="advertis1">
                <img src="https://media.istockphoto.com/photos/businesswoman-hand-placing-or-pulling-wooden-dominoes-with-brand-text-picture-id1150734727?k=20&m=1150734727&s=612x612&w=0&h=HE2JFsGUq4xI9C4KjbQ1qHWEjVC-kg2StDbKBWtJiM8=" alt="">
            </div>
        </div>
    </div>
    <div class="generality_belongings">
        <div class="belonging">
            <a href="/products/smartDevice"><img src="https://cf.shopee.vn/file/4e32311e7d872547962d1867d39c9027_xhdpi" alt=""></a>
            <p>thiết bị thông minh</p>
        </div>
        <div class="belonging">
            <a href="/products/houseware"><img src="https://cf.shopee.vn/file/698f220a98642d9eebf8177db6a08700_xhdpi" alt=""></a>
            <p>đồ gia dụng</p>
        </div>
        <div class="belonging">
            <a href="/products/schoolThings"><img src="	https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi" alt=""></a>
            <p>đồ dùng học tập</p>
        </div>
        <div class="belonging">
            <a href="/products/jewels"><img src="	https://cf.shopee.vn/file/0a3e3aa16b083d6b7e2c25a8f2c16731_xhdpi" alt=""></a>
            <p>trang sức</p>
        </div>
    </div>
    
</div>